
body {
    background-color: #F7EFDE;
}

<!--NAVBAR-->
.nav {
    background-color: #F7EFDE;
}

.topbar
{
    position: sticky;
    top: 0;
    z-index: 1000;

    display: flex;
    align-items: center;
    justify-content: space-between;

    height: 90px;
    padding: 0 20px;
    
    backdrop-filter: blur(20px);
    background-color: rgba(158, 187, 113, 0.199);
    -webkit-backdrop-filter: blur(100px); 
    border-bottom: 3px ridge black;
}

.header-center
{
    position: relative;
}
.header-center img
{
    height: 200px;
}

